@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

:root{
    --form-color: #ef4565;
    --background: #fffffe;
    --btn-color: #3da9fc;
    --paragraph-color: #5f6c7b;
    --button-text: #fffffe;
    --headline: #094067;
    --header-color: #3da9fc;
    --box-shadow: box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    --submit-close: #90b4ce;
}

html body{
    background-color: #90b4ce;
    /* background-color: var(--background); */
}

html button{
    background-color: var(--btn-color);
}

body header{
    display: flex;
    align-items: center;
    height: 10vh;
}

header section:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

header section:nth-of-type(1) h1{
    color: var(--headline);
    font-size: clamp(1.5rem, 1vw, 1rem);
    font-weight: 800;
}

header section:nth-of-type(1) button{
    box-shadow: var(--box-shadow);
    font-size: clamp(0.85rem, 1.5vw, 3rem);
    background-color: var(--btn-color);
    border: 0;
    color: var(--button-text);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form */
form{
    display: grid;
    background-color: var(--form-color);
    border: 1px solid red;
}

form section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.submit-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-close button{
    font-size: clamp(0.9rem, 1vw, 3rem);
    color: var(--button-text);
    border: 0;
    background-color: var(--btn-color);
}

form h1{
    font-size: clamp(1.3rem, 1vw, 3rem);
    font-weight: 700;
    color: var(--button-text);
}

.library-container{
    display: grid;
}

.library-container .card{
    border: 2px solid var(--headline);
}

.library-container .card h4{
    font-size: clamp(1rem, 1vw, 3rem);
}

.delete-change{
    display: flex;
    justify-content: right;
}

.delete-change button{
    border: 0;
    background-color: var(--btn-color);
    font-size: clamp(0.75rem, 1.5vw, 3rem);
}

/* Mobile */
@media screen and (max-width: 460px) and (min-width: 319px) {
    form{
        border-radius: 10px;
        margin: 0 8vw 0 8vw;
        height: 45vh;
        width: 78vw;
        grid-template-rows: 1vh 4rem;
    }

    form h1{
        grid-row: 2;
        padding: 2vh 0 0 8.5vw;
    }

    form section:nth-of-type(1){
        grid-row: 3;
        color: var(--button-text);
        /* border: 1px solid black; */
    }
    
    .submit-close{
        width: 65vw;
    }

    .submit-close button{
        width: 6rem;
    }

    form .input-group{
        width: 65vw;
    }
    
    form .input-group:nth-of-type(1) input,
    form .input-group:nth-of-type(2) input,
    form .input-group:nth-of-type(3) input{
        /* border: 1px solid blue; */
        height: 3.5vh;
    }

    form .input-group:nth-of-type(4){
        display: flex;
        justify-content: center;
        gap: 2vw;
    }


    form .input-group .form-control{
        height: 3vh;
    }

    .library-container{
        grid-template-columns: repeat(3, 1fr);
        margin: 2vh 0 0 0;
        gap: 2vh;
        place-items: center;
    }

    .library-container .card{
        grid-column: 2;
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .card-body h4{
        font-size: 1rem;
    }

    .delete-change{
        gap: 1.5vw;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 461px) {
    form{
        border-radius: 10px;
        height: 46vh;
        width: 50vw;
        grid-template-rows: 1vh 4rem;
    }

    form h1{
        font-size: 1.7rem;
        grid-row: 2;
        padding: 2vh 0 0 5.3vw;
    }

    form section:nth-of-type(1){
        grid-row: 3;
        color: var(--button-text);
        width: 50vw;
        padding: 0 0 3.5vh 0;
    }
    
    .submit-close{
        gap: 5vh;
        
    }

    .submit-close button{
        width: 15vw;
    }

    form .input-group{
        width: 40vw;
    }

    form .input-group:nth-of-type(1) input,
    form .input-group:nth-of-type(2) input,
    form .input-group:nth-of-type(3) input{
        height: 4vh;
    }
    
    form .input-group:nth-of-type(4){
        display: flex;
        justify-content: center;
        gap: 2vw;
    }


    form .input-group .form-control{
        height: 3vh;
    }

    .library-container{
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin: 2vh 0 0 0;
        place-items: center;
        gap: 2vh;
    }

    .library-container .card{
        display: flex;
        flex-direction: column;
        width: 45vw;
    }

    .library-container .card h4{
        font-size: clamp(0.8rem, 2vw, 5rem);
    }

    .library-container .card button{
        font-size: clamp(0.65rem, 1.5vw, 5rem);
    }

    .delete-change{
        gap: 1.5vw;
    } 
}